<a href="https://colab.research.google.com/github/nivi-nivedita/python-workshop/blob/master/Day_3_session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program for prime number -bad code

In [1]:
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
if x ==i//2:
   print ("{} is a prime number".format(i))

The number 25 is not prime

#Good code using for... else

In [2]:
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
else:
    print ("{} is a prime number".format(i))

The number 25 is not prime

#Using Unpacking to Write Concise Code

In [3]:
a, b = 2, 'my-string'
print(a)
print(b)

2
my-string

#Bad unpacking

In [4]:
x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

1 2 4 8 16

#Excellent unpacking

In [5]:
a,b,c,d,e=x
print(a, b, c, d, e)

1 2 4 8 16

#unpacking some elements

In [6]:
a, *y, e = x
print(a)
print(y)
print(e)

1
[2, 4, 8]
16

#Using Chaining to Write Concise Code

In [7]:
x = 4
print(x >= 2 and x <= 8)

True

#Instead, you can write this in a more compact form, like mathematicians do:

In [8]:
print(2 <= x <= 8)
print(2 <= x <= 3)

True
False

#chained assignments

In [9]:
# normal way
x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

#In pythonic way

In [10]:
x is None
print(x is None)
print(y is None)
print(x is not None)
print(y is not None)

False
True
True
False

#Iterating over Sequences

In [11]:
x = [1, 2, 4, 8, 16]
for i in range(len(x)):
  print(x[i])

1
2
4
8
16

#But instead we can do like this in elegant way

In [12]:
for item in x:
  print(item)

1
2
4
8
16

#to iterate in the reversed order

In [13]:
for i in range(len(x)-1, -1, -1):
  print(x[i])

16
8
4
2
1

#But in elegant way!

In [16]:
for item in x[::-1]:
    print (item)

16
8
4
2
1

#The Pythonic way is to use reversed to get an iterator that yields the items of a
sequence in the reversed order:

In [17]:
for item in reversed(x):
  print(item)

16
8
4
2
1

#Sometimes you need both the items from a sequence and the corresponding indices:

In [18]:
for i in range(len(x)):
  print(i, x[i])

0 1
1 2
2 4
3 8
4 16

#Itâ€™s better to use enumerate to get another iterator that yields the tuples with the indices

In [19]:
for i, item in enumerate(x):
  print(i, item)

0 1
1 2
2 4
3 8
4 16

#what if you want to iterate over two or more sequences? Of course, you can use the
range again:

In [20]:
y = 'abcde'
for i in range(len(x)):
  print(x[i], y[i])

1 a
2 b
4 c
8 d
16 e

#In this case, Python also offers a better solution. You can apply zip and get tuples of the
corresponding items:

In [21]:
for item in zip(x, y):
  print(item)

(1, 'a')
(2, 'b')
(4, 'c')
(8, 'd')
(16, 'e')

#You can combine it with unpacking:

In [22]:
for x_item, y_item in zip(x, y):
  print(x_item, y_item)

1 a
2 b
4 c
8 d
16 e

#Dictionary can be iterated in these two ways

In [23]:
z = {'a': 0, 'b': 1}
for k in z:
  print(k, z[k])

a 0
b 1

#Comparing to Zero

In [24]:
#To print only non zero values from tuple x
x = (1, 2, 0, 3, 0, 4)
for item in x:
    if item != 0:
      print(item)

1
2
3
4

#The Pythonic way is to exploit the fact that zero is interpreted as False in a Boolean
context, while all other numbers are considered as True:

In [27]:

for item in x:
  if item:
    print(item)

1
2
3
4

#Avoiding Mutable Optional Arguments

In [28]:
def func(value, seq=[]):
  seq.append(value)
  return seq
print(func(value=2))

[2]

#keep away from that with some additional logic

In [29]:
def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=6))

[6]