<a href="https://colab.research.google.com/github/nivi-nivedita/python-workshop/blob/master/Day_1_session_1_Exercises%E2%80%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#	Find the compound interest for the given p,n,r  (formula : p(1+n*r/100)n )

In [1]:
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time in the years: "))

# calculating compound interest
ci =  p * (pow((1 + r / 100), t)) 

# printing the values
print("Principle amount  : ", p)
print("Interest rate     : ", r)
print("Time in years     : ", t)
print("compound Interest : ", ci)

Enter the principle amount : 56
Enter the rate of interest : 8
Enter the time in the years: 26
Principle amount  :  56.0
Interest rate     :  8.0
Time in years     :  26.0
compound Interest :  414.1957798673449

#2.	Convert centegrade to farenheit  ( f= 9/5*c+32)

In [2]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 24
24.00 Celsius is: 75.20 Fahrenheit

#3.	Find the greater of two nos

In [3]:
# Python Program to find Largest of two Numbers using if-else statements
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if(a >= b):
  print(a, "is greater")
else:
  print(b, "is greater")

Enter the first number: 56
Enter the second number: 89
89 is greater

#4.	Write a program for finding surface areas of cylinder and cone (2*PI*r*r*h, 1/3*PI*r*r*h) using function

In [4]:
import math 
pi = math.pi 
  
# Function to calculate Volume of Cone 
def surfacearea (r, h):
    return 2 * PI * r * r * h
def surfacearea (r, s):
    return pi * r * s + pi * r * r 
  

radius = int(input("enter the radius"))
height = float(input("enter the height")) 
slat_height =float(input("enter the slatheight"))  
print( "surface area of cylinder :", surfacearea(radius, height) ) 
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

enter the radius5
enter the height9
enter the slatheight8
surface area of cylinder : 219.9114857512855
Surface Area Of Cone :  204.20352248333654