<a href="https://colab.research.google.com/github/nivi-nivedita/python-workshop/blob/master/Day_3_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Finding the factorial of a number

In [1]:
#Python Program to find the factorial of a number using loop. 
n=int(input("Enter number:"))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:4
Factorial of the number is:
24

#Program for multiples of 2 of a list without list comprehension

In [2]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

#Single line program of Pythonic coding

In [3]:
print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

#More Pythonic program of 3 lines!

In [4]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no5
120

#Number and its square as Tuple for a range

In [5]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:10
Enter the upper range:8
[]

#More Pythonic program of 2 lines!

In [6]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:5
Enter the upper range:10
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

#Finding the perfect squares

In [7]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

#Pythonic program of 3 lines!

In [8]:
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences) 
print(list(filtered_result))

[4, 0, 9, 16, 1]

#Program to nd the largest number in a list

In [9]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:8
Enter element:7
Enter element:6
Enter element:9
Enter element:3
Largest element is: 9

#Try this More pythonic 2 lines program equivalent to above codings as shown below !

In [10]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no2
5
5
The greatest no is 5

#Program to put the even and odd elements in a list into two different lists

In [12]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:8
Enter element:9
Enter element:8
The even list [8, 8]
The odd list [9]

#Instead of forementioned 14 lines program, the equivalent 4 lines

In [13]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n2
8
5
odd list is [5]
even list is [8]

#Python Program to merge two lists and sort it.

In [14]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:6
Enter element:8
Enter element:9
Enter number of elements:2
Enter element:8
Enter element:5
Sorted list is: [5, 6, 8, 8, 9]

#Instead of forementioned 13 lines program, the equivalent 5 lines !

In [15]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements3
8
6
9
Enter how many elements 2
8
5
Sorted list is: [5, 6, 8, 8, 9]

#Instead of forementioned 8 lines program, the equivalent 3 lines

In [16]:
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1]) 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#```````1`````````````````````Instead of forementioned 12 lines program, the equivalent 4 lines progam

In [18]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements2
8
7
Second largest element is : 7

#Program to create a list of tuples with the rst element as the number and the second
element as the square of the number

In [19]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:8
[(4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

#The aforementioned program is already pythonic

In [20]:
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range:4
Enter the upper range:9
[(4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

#Of course, We can write in the most pythonic way with one line ! as follows

In [21]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:5
Enter the upper range:7
[(5, 25), (6, 36), (7, 49)]

#Program to generate random numbers from 1 to 20 and append them to the list

In [22]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:3
Randomised list is:  [18, 10, 19]

#Pythonic program of 2 lines!

In [23]:
import random
l=[random.randint(1,20) for _ in range(int(input("Enter how many elements")))]
print('Randomised list is: ',l)

Enter how many elements5
Randomised list is:  [13, 14, 5, 20, 3]

#Program for printing list of values with indexing

In [24]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
index=0
for i in names:
    print(str(index)+":"+i)
    index=index+1

0:Jan
1:Feb
2:Mar
3:Apr
4:May
5:Jun
6:Jul
7:Aug
8:Sep
9:Oct
10:Nov
11:Dec

#using Pythonic way using enumerate()

In [25]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
    print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec